.dotted {
    z-index: 0;
    mix-blend-mode:hard-light ;
    background-image: url("https://assets.website-files.com/643354ef999e7685d54b670e/6434f86898dcca011b2161be_Noise-200px%402x.png");
    background-position: 0 0;
    background-size: 200px 200px;
    background-attachment: scroll;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}